<div class="login_container my-flex-center">
  <div class='my-align-center'>
    <h4 class='my-bold'>Welcome to Youtube Streaming API</h4>
    <br />
    <br />
    <br />
    <%= render "devise/shared/links" %>
    <br />
    <br />
    <div class="login_option-view_authors">
      <br />
      <br />
      <a
        class="my-button my-button-author"
        href='/authors'>Query Messages By Author</a>
    </div>
  </div>
</div>
